@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style="color:purple" class="display-4"><strong>Anıl Online Kütüphane Sistemi</strong></h1>
    <br />
    <br />
    <div class="d-flex justify-content-center align-items-center" style="border: 1px solid #ccc;">
        <img src="/img/library3.jpg" alt="Ortalanmış Resim">
    </div>
</div>
