@{
    ViewData["Title"] = "İletişim Bilgileri:";
}


<div class="text-center">
    <br />
    <br />
    <h1 style="color:purple">@ViewData["Title"]</h1>
    <br />
    <br />
    <h3>İstanbul / Tuzla</h3>
    <br />
    <h3>E-Posta adresi:</h3>
    <a href="mailto:furkananil960@gmail.com">furkananil960@gmail.com</a>
<div>
